[Unit]
Description=Flash Drive Upload Service

[Service]
Type=simple
ExecStart= /usr/bin/python3 /home/pi/maia_channel/flash_drive_upload.py
Restart=on-failure
RestartSec=5s
StandardOutput=null

[Install]
WantedBy=multi-user.target

