[Unit]
Description=Maia Channel Service

[Service]
Type=simple
ExecStart= /usr/bin/python3 /home/pi/maia_channel/maia_channel.py
Restart=on-failure
RestartSec=5s
StandardOutput=null

[Install]
WantedBy=multi-user.target
